{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"> {{ messages[0] }}</p>
                <button class="delete" aria-label="close"></button>
            </header>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="tile is-parent is-4">
        <div class="tile box is-child">
            <div class="tile is-parent">
                <div class="tile is-10 is-child">
                    <p class="title is-3 has-text-black">Players</p>
                </div>
                <div class="tile is-2 is-child">
                    <button class="button js-modal-trigger is-success" data-target="modal-add-player">
                        Add
                    </button>
                </div>
            </div>
            <div class="table-container">
                <table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
                    <thead>
                    <tr>
                        <th>Player name</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in list_of_players %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td style="width: 100px;">
                            <button class="button is-danger">
                                <a href="{{ url_for('tournament.manage_delete', tournament_id=tournament_id, name=player.name) }}">
                                    Remove
                                </a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tile is-parent is-8">
        <div class="tile box is-child">
            <div class="tile is-parent">
                <div class="tile is-10 is-child">
                    <p class="title is-3 has-text-black">Tournament bracket</p>
                </div>
                <div class="tile is-2 is-child">
                    <button class="button is-success">
                        <a href="{{ url_for('tournament.generate_bracket', tournament_id=tournament_id)}}">
                            Generate bracket
                        </a>
                    </button>
                </div>
            </div>
            <div class="tile">
                <div class="field is-grouped">
                    {% for phase in phases %}
                    {% if phase == 0 %}
                    {% else %}
                    <p class="control">
                        <button class="button is-info is-outlined">
                            <a href="{{ url_for('tournament.manage', tournament_id=tournament_id, phase=phase) }}">
                            Phase {{ phase }}
                            </a>
                        </button>
                    </p>
                    {% endif %}
                    {% endfor %}
                    <p class="control">
                        <button class="button is-info is-outlined">
                            <a href="{{ url_for('tournament.manage', tournament_id=tournament_id, phase=phase) }}">
                                Winner
                            </a>
                        </button>
                    </p>
                </div>
            </div>
            <div class="tile is-parent">
                <div class="table-container">
                    {% if phase == "0" %}
                    <div class="tile is-child">
                        <p class="title has-text-black">Winner is {{ winner }}</p>
                    </div>
                    {% else %}
                    {% for match in list_of_matches %}
                    <form method="POST" id="form{{ match.id }}" action="{{ tournament_id }}/score/save/{{ match.id }}/{{ match.phase }}">
                        <table class="table is-bordered is-striped is-hoverable is-fullwidth is-narrow">
                            <thead>
                            <tr>
                                <th>Player 1</th>
                                <th></th>
                                <th></th>
                                <th>Player 2</th>
                                <th>Save scores</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ match.player1_name }}</td>
                                <td>
                                    <input class="input is-normal" type="text" size="3" name="score1"
                                           placeholder="{{ match.player1_score }}"
                                           form="form{{ match.id }}"/>
                                </td>
                                <td><input class="input is-normal" type="text" size="3" name="score2"
                                           placeholder="{{ match.player2_score }}"
                                           form="form{{ match.id }}"/></td>
                                <td>{{ match.player2_name }}</td>
                                <td>
                                    <button class="button is-block is-success small">
                                        Save
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="tile">
                <button class="button is-success small">
                    <a href="{{ url_for('tournament.generate_next_phase', tournament_id=tournament_id, phase=phase)}}">
                        Generate next phase
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-add-player">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New player</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="box">
                <form method="POST" action="/tournament/{{ tournament_id }}">
                    <div class="field">
                        <div class="label">
                            <label class="label">Name</label>
                        </div>
                        <div class="control">
                            <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                        </div>
                    </div>

                    <button class="button is-success">
                        Add player
                    </button>
                    <button class="button">
                        <a href="{{ url_for('tournament.manage', tournament_id=tournament_id) }}">
                            Cancel
                        </a>
                    </button>
                </form>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>
{% endblock %}