{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title"> {{ messages[0] }}</p>
                <button class="delete" aria-label="close"></button>
            </header>
        </div>
    </div>
    {% endif %}
    {% endwith %}
    <div class="tile is-parent is-4">
        <div class="tile box is-child">
            <div class="tile is-parent">
                <div class="tile is-10 is-child">
                    <p class="title is-3 has-text-black">Players</p>
                </div>
                <div class="tile is-2 is-child">
                    <button class="button js-modal-trigger is-success" data-target="modal-add-player">
                        Add
                    </button>
                </div>
            </div>
            <div class="table-container">
                <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th>Player name</th>
                        <th>Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for player in list_of_players %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>
                            <button class="button is-danger">
                                <a href="{{ url_for('tournament.remove', tournament_id=tournament.tournament_id) }}">
                                    Remove
                                </a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="tile is-parent is-8">
        <div class="tile is-child box">
            <p class="title is-3 has-text-black">Two</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
                vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
    </div>
</div>

<div class="modal" id="modal-add-player">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New player</p>
            <button class="delete" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="box">
                <form method="POST" action="/tournament/{{ tournament_id }}">
                    <div class="field">
                        <div class="label">
                            <label class="label">Name</label>
                        </div>
                        <div class="control">
                            <input class="input is-large" type="text" name="name" placeholder="Name" autofocus="">
                        </div>
                    </div>

                    <button class="button is-success">
                        Add player
                    </button>
                    <button class="button">Cancel</button>
                </form>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        function openModal($el) {
            $el.classList.add('is-active');
        }

        function closeModal($el) {
            $el.classList.remove('is-active');
        }

        function closeAllModals() {
            (document.querySelectorAll('.modal') || []).forEach(($modal) => {
                closeModal($modal);
            });
        }

        (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);

            $trigger.addEventListener('click', () => {
                openModal($target);
            });
        });

        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('click', () => {
                closeModal($target);
            });
        });

        document.addEventListener('keydown', (event) => {
            const e = event || window.event;

            if (e.keyCode === 27) { // Escape key
                closeAllModals();
            }
        });
    });
</script>
{% endblock %}