{% extends "base.html" %}

{% block content %}
<h1 class="title">
    List of tournaments
</h1>
<table class="table">
    <thead>
    <tr>
        <th><abbr title="ID">ID</abbr></th>
        <th><abbr title="TournamentID">Tournament ID</abbr></th>
        <th><abbr title="Name">Name</abbr></th>
        <th><abbr title="StartDate">Start Date</abbr></th>
        <th><abbr title="PlayerCount">Number of contenders</abbr></th>
    </tr>
    </thead>
    <tbody>
    {% for tournament in list_of_tournaments %}
    <tr>
        <td>{{ tournament.id }}</td>
        <td>{{ tournament.tournament_id }}</td>
        <td>{{ tournament.name }}</td>
        <td>{{ tournament.start_date }}</td>
        <td>{{ tournament.player_count }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}